html {
  --small-input-size: 14px;
  --small-input-margin: 4px;
}

body {
  width: 220px;
  user-select: none;
  font-size: 0.8rem;
  font-weight: 400;
}

h1 {
  font-size: 1rem;
  cursor: default;
}

h2 {
  font-size: inherit;
  cursor: default;
  font-weight: inherit;
  margin: 4px 0;
}

input[type="checkbox"],
input[type="radio"] {
  width: var(--small-input-size);
  height: var(--small-input-size);
  margin: var(--small-input-margin);
}

input[type="checkbox"] {
  position: relative;
  top: -1px;
}

input[disabled] + label {
  color: #545454;
}

:global .small-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

:global .small-input-container.inline {
  display: inline-flex;
  margin-right: 8px;
}

:global .small-input-container label {
  line-height: 14px;
  margin: 4px;
}

:global .child {
  margin-left: calc(var(--small-input-size) + var(--small-input-margin) * 2);
}

:global .header,
:global .footer {
  color: #333;
  background-color: #f0f0f0;
  padding: 8px;
  margin: 0;
}

:global #settings {
  margin: 8px;
}

:global #github {
  display: block;
  font-weight: bold;
  text-align: center;
}
