:host {
  position: relative;
  display: inline-block;
  z-index: inherit;
}

:host([large]) {
  width: 32px;
  height: 32px;
  padding: 2px;
}

:host([button]) {
  cursor: pointer;
}

#button-click-circle {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  z-index: -1;
  pointer-events: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .1);
  opacity: 0;
  transition: opacity var(--mouse-effect-transition-timing);
}

:host([button]:active) #button-click-circle {
  opacity: 1;
}
