<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>New Tab</title>

  <link rel="stylesheet" href="../styles/shared-styles.css" />
  <link rel="stylesheet" href="../styles/newtab.css" />
  <link rel="stylesheet" href="../styles/weather-icons/css/weather-icons.css" />

  <link rel="import" href="../elements/x-bookmark/x-bookmark.html" />
  <link rel="import" href="../elements/x-icon/x-icon.html" />
  <link rel="import" href="../elements/x-context-menu/x-context-menu.html" />
  <link rel="import" href="../elements/x-dialog/x-dialog.html" />
  <link rel="import" href="../elements/x-tooltip/x-tooltip.html" />
</head>

<body unresolved>
  <img id="background-image" class="fullbleed" />

  <header id="main-toolbar" class="toolbar">
    <a
      id="unsplash-link"
      class="source-link"
      target="_blank"
      href="https://unsplash.com/">

      Unsplash
    </a>
    <a id="source-link" class="source-link" target="_blank">Photo</a>

    <span class="title"></span>

    <x-icon
      id="bookmarks-open-button"
      class="radial-shadow"
      icon="bookmarks"
      large button>
    </x-icon>
  </header>

  <main id="info-wrapper" class="fullbleed">
    <div id="info-box">
      <a id="time" href="https://www.google.com/search?q=time"></a>
      <div id="greeting"></div>

      <a
        id="weather-wrapper"
        href="https://www.google.com/search?q=weather"
        hidden>

        <i id="weather-icon" class="wi wi-day-sunny"></i>
        <span id="temperature"></span>
      </a>
    </div>
  </main>

  <div id="drawer-backdrop" class="fullbleed backdrop"></div>

  <aside id="bookmarks-drawer" class="drawer">
    <header class="drawer-header toolbar">
      <x-icon id="bookmarks-up-button" large></x-icon>
      <span id="bookmarks-drawer-title" class="title"></span>
      <x-icon id="bookmarks-close-button" icon="close" large button></x-icon>
    </header>

    <nav id="bookmarks-drawer-items" class="drawer-content"></nav>
  </aside>

  <x-dialog id="bookmarks-edit-dialog">
    <img id="bookmarks-edit-dialog-favicon" class="dialog-title" />
    <h1 id="bookmarks-edit-dialog-title" class="dialog-title"></h1>

    <div class="dialog-content row">
      <input id="bookmarks-edit-dialog-name" type="text" placeholder="Name" />
      <input id="bookmarks-edit-dialog-url" type="url" placeholder="URL" />
    </div>

    <button class="dialog-cancel">Cancel</button>
    <button class="dialog-confirm">Done</button>
  </x-dialog>

  <x-tooltip id="bookmarks-drawer-tooltip"></x-tooltip>

  <x-context-menu id="bookmarks-ctx-menu">
    <div id="bookmarks-ctx-menu-edit" class="menu-item">Edit</div>
    <div id="bookmarks-ctx-menu-delete" class="menu-item">Delete</div>
    <hr />
    <div id="bookmarks-ctx-menu-add-page" class="menu-item">Add Page</div>
    <div id="bookmarks-ctx-menu-add-folder" class="menu-item">Add Folder</div>
  </x-context-menu>

  <script src="../scripts/StorageKeys.js"></script>
  <script src="../scripts/Settings.js"></script>
  <script src="../scripts/BookmarksNavigator.js"></script>
  <script src="../scripts/BookmarksEditor.js"></script>
  <script src="../scripts/Weather.js"></script>
  <script src="../scripts/newtab.js"></script>
</body>

</html>
