<!doctype html>

<html lang="en" class="bookmarks-drawer-small">

<head>
  <meta charset="utf-8" />
  <title>New Tab</title>

  <link rel="stylesheet" href="../styles/newtab.css" />

  <link rel="import" href="../elements/x-bookmark/x-bookmark.html" />
</head>

<body unresolved>
  <img id="background-image" />

  <div id="main-toolbar" class="toolbar">
    <span class="title"></span>
    <div id="bookmarks-open-button-wrapper" class="radial-shadow">
      <svg
        id="bookmarks-open-button"
        class="large-icon icon-button"
        viewBox="0 0 24 24">

        <path
          fill="#ffffff"
          d="M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z" />
      </svg>
    </div>
  </div>

  <div id="info-wrapper">
    <div id="info-box">
      <div id="time"></div>
      <div id="greeting"></div>

      <div id="weather-wrapper" hidden>
        <img id="weather-icon" />
        <div id="temperature"></div>
      </div>
    </div>
  </div>

  <div id="bookmarks-drawer">
    <div class="drawer-header">
      <div class="toolbar">
        <svg
          id="bookmarks-up-button"
          class="large-icon icon-button"
          viewBox="0 0 24 24">

          <path
            fill="#333333"
            d="M20,6A2,2 0 0,1 22,8V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4H10L12,6H20M10.75,13H14V17H16V13H19.25L15,8.75" />
        </svg>

        <svg
          id="bookmarks-top-icon"
          class="large-icon"
          viewBox="0 0 24 24">

          <path
            fill="#333333"
            d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
        </svg>

        <span id="bookmarks-drawer-title" class="title"></span>

        <svg
          id="bookmarks-close-button"
          class="large-icon icon-button"
          viewBox="0 0 24 24">

          <path
            fill="#333333"
            d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </div>
    </div>

    <div id="bookmarks-drawer-items"></div>
  </div>

  <div id="drawer-backdrop"></div>

  <script src="../scripts/settings.js"></script>
  <script src="../scripts/bookmarks.js"></script>
  <script src="../scripts/weather.js"></script>
  <script src="../scripts/newtab.js"></script>

</body>

</html>
