<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Clean Tab</title>

  <link rel="stylesheet" href="../styles/popup.css" />
</head>

<body>

  <div id="settings">
    <h1>Clean Tab Settings</h1>

    <label id="always-show-bookmarks" class="checkbox-container">
      <input type="checkbox" />
      <span class="label">Always Show Bookmarks</span>
    </label>

    <label id="bookmarks-drawer-small" class="child-1 checkbox-container">
      <input type="checkbox" />
      <span class="label">Small Bookmarks Drawer</span>
    </label>

    <label id="boxed-info" class="checkbox-container">
      <input type="checkbox" />
      <span class="label">Show Box Around Info</span>
    </label>

    <label id="show-weather" class="checkbox-container">
      <input type="checkbox" />
      <span class="label">Show Weather</span>
    </label>

    <label id="use-celsius" class="child-1 checkbox-container">
      <input type="checkbox" />
      <span class="label">Temperature in Celsius</span>
    </label>
  </div>

  <a
    id="github"
    href="https://github.com/AlexanderOtavka/clean-tab"
    target="_blank">

    <span>GitHub</span>
  </a>

  <script src="../scripts/settings.js"></script>
  <script src="../scripts/popup.js"></script>

</body>

</html>
