<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Clean Tab</title>

  <link rel="stylesheet" href="../styles/popup.css" />
</head>

<body>

  <div id="settings">
    <h1>Clean Tab Settings</h1>

    <label id="always-show-bookmarks">
      <input type="checkbox" />
      <span>Always Show Bookmarks</span>
    </label>

    <label id="show-weather">
      <input type="checkbox" />
      <span>Show Weather</span>
    </label>

    <br>

    <label id="use-celsius">
      <input type="checkbox" />
      <span>Temperature in Celsius</span>
    </label>
  </div>

  <a id="about" href="https://github.com/AlexanderOtavka/clean-tab">
    <span>GitHub</span>
  </a>

  <script src="../scripts/settings.js"></script>
  <script src="../scripts/popup.js"></script>

</body>

</html>
