:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--x-dialog-transition-timing);
}

:host([open]) {
  pointer-events: all;
  opacity: 1;
}

#box {
  background: #fff;
  border-radius: 2px;
  box-shadow: var(--shadow-2);
  width: var(--x-dialog-width);
  min-width: 200px;
  max-width: 400px;
  transform: translateY(100%);
  transition: transform var(--x-dialog-transition-timing);
  will-change: transform;
}

:host([open]) #box {
  transform: translateY(0);
}

#footer {
  align-items: flex-end;
  justify-content: flex-end;
  padding: 16px 12px;
}

#backdrop {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--backdrop-background);
}

::slotted([slot="title"]) {
  margin: 0;
  font-size: 1rem;
  flex-grow: 1;
  flex-basis: 1px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::slotted(img[slot="title"]) {
  width: 16px;
  height: 16px;
  flex-grow: 0;
  flex-basis: 16px;
  margin: 8px;
  margin-right: 16px;
}

::slotted([slot="content"]) {
  margin: 0 16px;
}

::slotted([slot="confirm"]) {
  background-color: #2196f3;
  color: #fff;
}

::slotted([slot="confirm"]),
::slotted([slot="cancel"]) {
  margin: 0 6px;
}
