@import "shared-styles.css";

:root {
  --drawer-width: 300px;
  --drawer-header-height: 68px;
  --drawer-transition-timing: 200ms cubic-bezier(0, 0, .3, 1);
}

:root.bookmarks-drawer-small {
  --drawer-width: 64px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.drawer {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  width: var(--drawer-width);
  box-shadow: -2px 0 12px rgba(0, 0, 0, .4);
  transition: all var(--drawer-transition-timing);
}

.drawer-header {
  height: calc(var(--drawer-header-height) - 1px);
  border-bottom: 1px solid rgba(0, 0, 0, .2);;
}

.drawer-content {
  display: block;
  position: absolute;
  top: var(--drawer-header-height);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

#background-image {
  z-index: -999;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#bookmarks-open-button {
  fill: #fff;
}

.bookmarks-drawer-locked-open #bookmarks-open-button {
  display: none;
}

#info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  transition: right var(--drawer-transition-timing);
}

.bookmarks-drawer-locked-open #info-wrapper {
  right: var(--drawer-width);
}

#info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 8px;
  min-width: 210px;
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.boxed-info #info-box {
  border: 8px solid #fff;
}

#info-box > * {
  margin: 8px;
}

#time {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

#weather-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#weather-icon {
  width: 40px;
  height: 40px;
}

#temperature {
  font-size: 2rem;
  padding-left: 16px;
}

#bookmarks-drawer {
  right: 0;
  background: #fff;
  transform: translateX(105%);
  will-change: transform;
}

.bookmarks-drawer-open #bookmarks-drawer,
.bookmarks-drawer-locked-open #bookmarks-drawer {
  transform: translateX(0);
}

.bookmarks-drawer-locked-open #bookmarks-drawer {
  opacity: .9;
  box-shadow: none;
}

#bookmarks-drawer x-icon {
  fill: #333;
}

#bookmarks-up-button {
  transition: transform var(--drag-drop-animation-timing);
}

#bookmarks-up-button.expand {
  transform: scale(1.2);
}

.bookmarks-drawer-small #bookmarks-drawer-title {
  display: none;
}

.bookmarks-drawer-small #bookmarks-close-button,
.bookmarks-drawer-locked-open #bookmarks-close-button {
  display: none;
}

#bookmarks-drawer-items {
  padding-bottom: 32px;
}

#drawer-backdrop {
  z-index: 19;
  pointer-events: none;
  background: var(--backdrop-background);
  opacity: 0;
  transition: opacity var(--drawer-transition-timing);
  will-change: opacity;
}

.bookmarks-drawer-open #drawer-backdrop {
  pointer-events: auto;
  opacity: 1;
}

#bookmarks-edit-dialog {
  --x-dialog-width: 350px;
}

#bookmarks-edit-dialog-name {
  flex-grow: 1;
  flex-basis: 1px;
}

#bookmarks-edit-dialog-url {
  flex-grow: 2;
  flex-basis: 1px;
}
