@import "shared-styles.css";

:root {
  --input-size: 14px;
  --input-margin: 4px;
  --indent-size: calc(var(--input-size) + var(--input-margin) * 2)
}

body {
  width: 220px;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: 1rem;
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  width: var(--input-size);
  height: var(--input-size);
  margin: var(--input-margin);
}

input[disabled] + .label {
  color: #545454;
}

label.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

label.checkbox-container .label {
  padding: 4px;
  line-height: 14px;
}

.child-1 {
  margin-left: var(--indent-size);
}

.child-2 {
  margin-left: calc(var(--indent-size) * 2);
}

#settings {
  margin: 8px;
}

#github {
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  padding: 8px;
}

#github:hover {
  text-decoration: underline;
}
