:host {
  --dividing-line-style: 1px solid #ddd;

  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
}

:host([visible]) {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 100ms cubic-bezier(0, 0, 0.3, 1),
    transform 100ms cubic-bezier(0, 0, 0.3, 1);
}

#wrapper {
  position: absolute;
  right: 0;
  display: block;
  max-width: 40%;
  min-width: 150px;
  box-shadow: var(--shadow-2);
  background: #fff;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  overflow-y: scroll;
}

::content .menu-item {
  display: block;
  padding: 8px;
  font-size: 0.9rem;
  color: #000;
  background: rgba(0, 0, 0, 0);
  transition: background 200ms;
}

::content .menu-item:not(.disabled):active {
  background: rgba(0, 0, 0, 0.2);
}

::content .menu-item.disabled {
  color: #bbb;
  cursor: default;
}

::content .menu-item.line-below {
  border-bottom: var(--dividing-line-style);
}

::content .menu-item.line-above {
  border-top: var(--dividing-line-style);
}

::content hr {
  margin: 0;
  border: none;
  border-bottom: var(--dividing-line-style);
}
