<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Square Tab</title>

  <link rel="stylesheet" href="../styles/popup.css" />
</head>

<body>

  <div id="settings">
    <h1>Square Tab Settings</h1>

    <div id="bookmarks-drawer-mode">
      <h2>Bookmarks Drawer Style</h2>

      <label class="child-1 small-input-container">
        <input
          type="radio"
          name="BOOKMARKS_DRAWER_MODE"
          value="TOGGLE"
          tabindex="-1" />
        <span class="label">Sliding Drawer</span>
      </label>

      <label class="child-1 small-input-container">
        <input
          type="radio"
          name="BOOKMARKS_DRAWER_MODE"
          value="HOVER"
          tabindex="-1" />
        <span class="label">Show When Hovered</span>
      </label>

      <label class="child-1 small-input-container">
        <input
          type="radio"
          name="BOOKMARKS_DRAWER_MODE"
          value="ALWAYS"
          tabindex="-1" />
        <span class="label">Always Show</span>
      </label>

    </div>

    <label id="bookmarks-drawer-small" class="child-1 small-input-container">
      <input type="checkbox" tabindex="-1" />
      <span class="label">Small</span>
    </label>

    <label id="boxed-info" class="small-input-container">
      <input type="checkbox" tabindex="-1" />
      <span class="label">Show Box Around Info</span>
    </label>

    <label id="show-weather" class="small-input-container">
      <input type="checkbox" tabindex="-1" />
      <span class="label">Show Weather</span>
    </label>

    <div id="temperature-unit" class="child-1 small-input-container">
      <label>
        <input
          type="radio"
          name="TEMPERATURE_UNIT"
          value="FAHRENHEIT"
          tabindex="-1" />
        <span class="label">&deg;F</span>
      </label>

      <label>
        <input
          type="radio"
          name="TEMPERATURE_UNIT"
          value="CELCIUS"
          tabindex="-1" />
        <span class="label">&deg;C</span>
      </label>
    </div>

    <label id="tod-images" class="small-input-container">
      <input type="checkbox" tabindex="-1" />
      <span class="label">Filter Images Based on Time</span>
    </label>
  </div>

  <a
    id="github"
    href="https://github.com/AlexanderOtavka/square-tab"
    target="_blank"
    tabindex="-1">

    <span>GitHub</span>
  </a>

  <script src="../scripts/Settings.js"></script>
  <script src="../scripts/popup.js"></script>

</body>

</html>
