.bookmarksDrawer {
  background: #fff;
}

.bookmarksDrawer x-icon {
  fill: #333;
}

.bookmarksUpButton {
  transition: transform var(--drag-drop-transition-timing);
}

.bookmarksUpButton.expand {
  transform: scale(1.2);
}

.isSmall .bookmarksUpButton {
  padding: 4px;
}

.isSmall .bookmarksDrawerTitle {
  display: none;
}

.isSmall .bookmarksCloseButton,
.modeAlways .bookmarksCloseButton,
.modeHover .bookmarksCloseButton {
  display: none;
}

.bookmarksDrawerItems {
  margin: 0;
  padding: 0;
}

:global(.dragover) .bookmarksDrawerItems::after {
  display: block;
  content: "";
  height: 40px;
}

.bookmarkLi {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bookmark {
  transition: transform var(--drag-drop-transition-timing);
  z-index: 1;
}

.noAnimateTranslate .bookmark {
  transition: none;
}

.dragOver .bookmark {
  pointer-events: none;
}

.bookmark.translateUp {
  transform: translateY(-100%);
  z-index: 2;
}

.bookmark.translateDown {
  transform: translateY(100%);
  z-index: 2;
}

.bookmark.expand {
  transform: scale(1.2) translate(6%, 0);
  z-index: 2;
}

.isSmall .bookmark.expand {
  transform: scale(1.2);
}

.bookmark.invisible {
  opacity: 0;
  z-index: 0;
}

.bookmarksEditDialog {
  --x-dialog-width: 350px;
}

.bookmarksEditDialogName {
  flex-grow: 1;
  flex-basis: 1px;
}

.bookmarksEditDialogUrl {
  flex-grow: 2;
  flex-basis: 1px;
}

/* this is just a failsafe. the x-tooltip should hide itself, but if it doesn't,
   no one has to know */
.bookmarksDrawer:not(:hover) ~ .tooltip {
  opacity: 0;
}
