.bookmarksDrawer {
  background: #fff;
}

:global(.dragover) .bookmarksDrawerItems::after {
  display: block;
  content: "";
  height: 40px;
}

.bookmarksDrawer x-icon {
  fill: #333;
}

.bookmarksUpButton {
  transition: transform var(--drag-drop-transition-timing);
}

.bookmarksUpButton:global(.expand) {
  transform: scale(1.2);
}

.isSmall .bookmarksUpButton {
  padding: 4px;
}

.isSmall .bookmarksDrawerTitle {
  display: none;
}

.isSmall .bookmarksCloseButton,
.modeAlways .bookmarksCloseButton,
.modeHover .bookmarksCloseButton {
  display: none;
}

.bookmarksEditDialog {
  --x-dialog-width: 350px;
}

.bookmarksEditDialogName {
  flex-grow: 1;
  flex-basis: 1px;
}

.bookmarksEditDialogUrl {
  flex-grow: 2;
  flex-basis: 1px;
}

/* this is just a failsafe. the x-tooltip should hide itself, but if it doesn't,
   no one has to know */
.bookmarksDrawer:not(:hover) ~ .tooltip {
  opacity: 0;
}
