.drawer {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  width: var(--drawer-width);
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.4);
  will-change: transform;
  transition: transform var(--drawer-transition-timing);
}

.drawer.positionRight {
  right: 0;
  transform: translateX(105%);
}

.drawer.positionLeft {
  left: 0;
  transform: translateX(-105%);
}

.drawer.modeNever {
  display: none;
}

.drawer.modeToggle.isOpen,
.drawer.modeToggle:global(.dragover),
.drawer.modeAlways,
.drawer.modeHover {
  transform: translateX(0);
}

.drawer.modeAlways {
  opacity: 0.9;
  box-shadow: none;
}

.drawer.modeHover {
  opacity: 0;
}

.drawer.modeHover:hover,
/* TODO: replace these cases with .isOpen class */
.drawer.modeHover:global(.ctx-menu-active),
.drawer.modeHover:global(.dragover),
.drawer.modeAlways:global(.dragover) {
  opacity: 1;
}

.header {
  height: var(--toolbar-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contents {
  display: block;
  position: absolute;
  top: var(--toolbar-height);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
