html {
  --drawer-width: 300px;
  --drawer-transition-timing: 200ms cubic-bezier(0, 0, 0.3, 1);
  --main-right-margin: 0;
  --main-left-margin: 0;
}

html.bookmarksDrawerSmall {
  --drawer-width: 64px;
}

html.bookmarksDrawerModeAlways.bookmarksDrawerPositionRight {
  --main-right-margin: var(--drawer-width);
}

html.bookmarksDrawerModeAlways.bookmarksDrawerPositionLeft {
  --main-left-margin: var(--drawer-width);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.bookmarksDrawerPositionLeft .mainToolbar {
  flex-direction: row-reverse;
}

.bookmarksDrawerModeAlways.bookmarksDrawerPositionLeft .mainToolbar {
  left: var(--drawer-width);
}

x-tooltip {
  z-index: 30;
}

.sourceLink {
  display: none;
}

.showPhotoSource .sourceLink {
  display: block;
}

.drawer {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  width: var(--drawer-width);
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.4);
  transition: all var(--drawer-transition-timing);
}

.drawerHeader {
  height: var(--toolbar-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.drawerContent {
  display: block;
  position: absolute;
  top: var(--toolbar-height);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.backgroundImage {
  z-index: -999;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mainToolbar {
  font-size: 16px;
  font-weight: 300;
  text-shadow: var(--shadow-text);
  text-transform: uppercase;
  color: #fff;
  transition: right var(--drawer-transition-timing);
}

.bookmarksDrawerSmall.bookmarksDrawerPositionRight .mainToolbar {
  right: var(--main-right-margin);
}

.bookmarksDrawerSmall.bookmarksDrawerPositionLeft .mainToolbar {
  left: var(--main-left-margin);
}

.mainToolbar > a {
  margin: 8px;
  cursor: pointer;
}

.bookmarksOpenButton {
  fill: #fff;
  visibility: hidden;
}

.bookmarksDrawerModeToggle .bookmarksOpenButton {
  visibility: visible;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
  transition: right var(--drawer-transition-timing);
}

.bookmarksDrawerSmall.bookmarksDrawerPositionRight .infoWrapper {
  right: var(--main-right-margin);
}

.bookmarksDrawerSmall.bookmarksDrawerPositionLeft .infoWrapper {
  left: var(--main-left-margin);
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 8px;
  min-width: 210px;
  max-width: 280px;
  font-family: "Lucida Grande", var(--font-family);
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.boxedInfo .infoBox {
  border: 8px solid #fff;
}

.infoBox > * {
  margin: 8px;
}

.infoBox > a {
  text-decoration: none;
}

.time {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

.bookmarksDrawer {
  background: #fff;
  will-change: transform;
}

.bookmarksDrawerPositionRight .bookmarksDrawer {
  right: 0;
  transform: translateX(105%);
}

.bookmarksDrawerPositionLeft .bookmarksDrawer {
  left: 0;
  transform: translateX(-105%);
}

.bookmarksDrawerModeNever .bookmarksDrawer {
  display: none;
}

.bookmarksDrawerModeToggle.bookmarksDrawerOpen .bookmarksDrawer,
.bookmarksDrawerModeToggle.dragover .bookmarksDrawer,
.bookmarksDrawerModeAlways .bookmarksDrawer,
.bookmarksDrawerModeHover .bookmarksDrawer {
  transform: translateX(0);
}

.bookmarksDrawerModeAlways .bookmarksDrawer {
  opacity: 0.9;
  box-shadow: none;
}

.bookmarksDrawerModeHover .bookmarksDrawer {
  opacity: 0;
}

.bookmarksDrawerModeHover .bookmarksDrawer:hover,
.bookmarksDrawerModeHover .bookmarksDrawer:global(.ctx-menu-active),
.bookmarksDrawerModeHover.dragover .bookmarksDrawer,
.bookmarksDrawerModeAlways.dragover .bookmarksDrawer {
  opacity: 1;
}

.dragover .bookmarksDrawerItems::after {
  display: block;
  content: "";
  height: 40px;
}

.drawerBackdrop {
  z-index: 19;
  pointer-events: none;
  background: var(--backdrop-background);
  opacity: 0;
  transition: opacity var(--drawer-transition-timing);
  will-change: opacity;
}

.bookmarksDrawerOpen .drawerBackdrop {
  pointer-events: auto;
  opacity: 1;
}

.bookmarksDrawer x-icon {
  fill: #333;
}

.bookmarksUpButton {
  transition: transform var(--drag-drop-transition-timing);
}

.bookmarksUpButton:global(.expand) {
  transform: scale(1.2);
}

.bookmarksDrawerSmall .bookmarksUpButton {
  padding: 4px;
}

.bookmarksDrawerSmall .bookmarksDrawerTitle {
  display: none;
}

.bookmarksDrawerSmall .bookmarksCloseButton,
.bookmarksDrawerModeAlways .bookmarksCloseButton,
.bookmarksDrawerModeHover .bookmarksCloseButton {
  display: none;
}

.bookmarksEditDialog {
  --x-dialog-width: 350px;
}

.bookmarksEditDialogName {
  flex-grow: 1;
  flex-basis: 1px;
}

.bookmarksEditDialogUrl {
  flex-grow: 2;
  flex-basis: 1px;
}

/* this is just a failsafe. the x-tooltip should hide itself, but if it doesn't,
   no one has to know */
.bookmarksDrawer:not(:hover) ~ .bookmarksDrawer-tooltip {
  opacity: 0;
}
