:host {
  display: block;
  position: relative;
  z-index: 1;
}

:host(.translate-down, .translate-up, .expand) {
  z-index: 2;
}

:host(.dragging) {
  z-index: 0;
}

#link,
#link:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  background: #fff;
  transition: transform var(--drag-drop-transition-timing);
}

:host-context(.no-animate-translate) #link {
  transition: none;
}

:host-context(.drag-over) #link {
  pointer-events: none;
}

:host(.translate-up) #link {
  transform: translateY(-100%);
}

:host(.translate-down) #link {
  transform: translateY(100%);
}

:host(.expand) #link {
  transform: scale(1.2) translate(6%, 0);
}

:host([small].expand) #link {
  transform: scale(1.2);
}

:host(.dragging) #link {
  opacity: 0;
}

#link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--mouse-effect-transition-timing);
}

#link:active::after {
  opacity: 1;
}

#image {
  width: 16px;
  height: 16px;
  margin: 8px 16px;
}

#name {
  flex-grow: 1;
  flex-basis: 1px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--x-bookmark-font-weight);
}

:host([small]) #name {
  display: none;
}
