html {
  --font-family: "Helvetica Neue", sans-serif;
  --backdrop-background: rgba(0, 0, 0, 0.4);
  --shadow-text: 0 0 16px rgba(0, 0, 0, 0.5);
  --shadow-1: 0 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-2: 0 3px 8px rgba(0, 0, 0, 0.2);
  --toolbar-height: 68px;
  --drag-drop-transition-timing: 100ms cubic-bezier(0, 0, 0.3, 1);
  --x-dialog-transition-timing: 100ms cubic-bezier(0, 0, 0.3, 1);
  --mouse-effect-transition-timing: 200ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  overflow: hidden;
  margin: 0;
}

body[unresolved],
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  position: relative;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 2px;
  border: none;
  border-radius: 3px;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  user-select: none;
  box-shadow: none;
  transition: box-shadow 400ms;
}

button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 200ms;
}

button:focus {
  outline: none;
  box-shadow: var(--shadow-1);
}

button:hover {
  box-shadow: var(--shadow-2);
}

button:active::after {
  opacity: 1;
}

input[type="text"],
input[type="url"] {
  border: none;
  margin: 2px;
  padding: 8px;
  padding-bottom: 6px;
  color: #000;
  background: #ccc;
  border-bottom: 2px solid #ccc;
  transition: background 400ms, box-shadow 400ms, border-bottom 400ms;
  will-change: border-bottom;
}

input[type="url"]:invalid {
  background: #dbb;
}

input[type="text"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder {
  color: #666;
}

input[type="text"]:focus,
input[type="url"]:focus {
  outline: none;
  box-shadow: var(--shadow-1);
  border-bottom: 2px solid #333;
}

input[type="text"]:hover,
input[type="url"]:hover {
  box-shadow: var(--shadow-2);
  border-bottom: 2px solid #333;
}

input[type="url"]:focus:invalid,
input[type="url"]:hover:invalid {
  background: #dbb;
  border-bottom: 2px solid #d22;
}

:global .fullbleed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

:global .row {
  display: flex;
  flex-direction: row;
}

:global .toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  user-select: none;
  height: var(--toolbar-height);
}

:global .title {
  flex-grow: 1;
  flex-basis: 1px;
  font-size: 1.3rem;
  margin: 0 8px;
  padding-top: 0.1rem;
  /*margin: 0 12px;*/
  /*line-height: 1;*/
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global .radial-shadow {
  position: relative;
}

:global .radial-shadow::before {
  content: "";
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0) 60%
  );
  display: block;
  position: absolute;
  top: -24px;
  right: -24px;
  bottom: -24px;
  left: -24px;
  z-index: -1;
}
