:root {
  --drawer-width: 300px;
  --drawer-transition-timing: 200ms cubic-bezier(0, 0, .3, 1);
  --main-right-margin: 0;
}

:root.bookmarks-drawer-small {
  --drawer-width: 64px;
}

:root.bookmarks-drawer-mode-always {
  --main-right-margin: var(--drawer-width);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

x-tooltip {
  z-index: 30;
}

.source-link {
  display: none;
}

.show-photo-source .source-link {
  display: block;
}

.drawer {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  width: var(--drawer-width);
  box-shadow: -2px 0 12px rgba(0, 0, 0, .4);
  transition: all var(--drawer-transition-timing);
}

.drawer-header {
  height: var(--toolbar-height);
  border-bottom: 1px solid rgba(0, 0, 0, .2);;
}

.drawer-content {
  display: block;
  position: absolute;
  top: var(--toolbar-height);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

#background-image {
  z-index: -999;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#main-toolbar {
  font-size: 16px;
  font-weight: 300;
  text-shadow: var(--shadow-text);
  text-transform: uppercase;
  color: #fff;
  right: var(--main-right-margin);
  transition: right var(--drawer-transition-timing);
}

#main-toolbar > a {
  margin: 8px;
}

#bookmarks-open-button {
  fill: #fff;
  visibility: hidden;
}

.bookmarks-drawer-mode-toggle #bookmarks-open-button {
  visibility: visible;
}

#info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
  right: var(--main-right-margin);
  transition: right var(--drawer-transition-timing);
}

#info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 8px;
  min-width: 210px;
  font-family: 'Lucida Grande', var(--font-family);
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.boxed-info #info-box {
  border: 8px solid #fff;
}

#info-box > * {
  margin: 8px;
}

#info-box > a {
  text-decoration: none;
}

#time {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

#weather-wrapper {
  font-size: 2rem;
}

#weather-icon {
  position: relative;
}

#weather-icon::after {
  font-family: var(--font-family);
  content: attr(tooltip);
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  font-size: 1rem;
  background: #333;
  padding: 8px;
  border-radius: 2px;
  margin: 0 8px;
  right: 100%;
  box-shadow: var(--shadow-1);
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--mouse-effect-transition-timing);
}

#weather-icon:hover::after {
  opacity: 1;
}

#bookmarks-drawer {
  right: 0;
  background: #fff;
  transform: translateX(105%);
  will-change: transform;
}

.bookmarks-drawer-mode-never #bookmarks-drawer {
  display: none;
}

.bookmarks-drawer-open #bookmarks-drawer,
.bookmarks-drawer-mode-always #bookmarks-drawer,
.bookmarks-drawer-mode-hover #bookmarks-drawer {
  transform: translateX(0);
}

.bookmarks-drawer-mode-always #bookmarks-drawer {
  opacity: .9;
  box-shadow: none;
}

.bookmarks-drawer-mode-hover #bookmarks-drawer:not(:hover) {
  opacity: 0;
}

#drawer-backdrop {
  z-index: 19;
  pointer-events: none;
  background: var(--backdrop-background);
  opacity: 0;
  transition: opacity var(--drawer-transition-timing);
  will-change: opacity;
}

.bookmarks-drawer-open #drawer-backdrop {
  pointer-events: auto;
  opacity: 1;
}

#bookmarks-drawer x-icon {
  fill: #333;
}

#bookmarks-up-button {
  transition: transform var(--drag-drop-transition-timing);
}

#bookmarks-up-button.expand {
  transform: scale(1.2);
}

.bookmarks-drawer-small #bookmarks-drawer-title {
  display: none;
}

.bookmarks-drawer-small #bookmarks-close-button,
.bookmarks-drawer-mode-always #bookmarks-close-button,
.bookmarks-drawer-mode-hover #bookmarks-close-button {
  display: none;
}

#bookmarks-drawer-items::after {
  content: "";
  display: block;
  height: 32px;
}

#bookmarks-edit-dialog {
  --x-dialog-width: 350px;
}

#bookmarks-edit-dialog-name {
  flex-grow: 1;
  flex-basis: 1px;
}

#bookmarks-edit-dialog-url {
  flex-grow: 2;
  flex-basis: 1px;
}

/* this is just a failsafe. the x-tooltip should hide itself, but if it doesn't,
   no one has to know */
#bookmarks-drawer:not(:hover) ~ #bookmarks-drawer-tooltip {
  opacity: 0;
}
