:root {
  --drawer-width: 300px;
  --drawer-transition-duration: 400ms;
  --drawer-header-height: 68px;
}

:root.bookmarks-drawer-small {
  --drawer-width: 64px;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  overflow: hidden;
  margin: 0;
}

body[unresolved], [hidden] {
  display: none !important;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  -webkit-user-select: none;
  user-select: none;
}

span.title {
  flex-grow: 1;
  font-size: 1.3rem;
  margin: 0 8px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.radial-shadow {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, .15),
    rgba(0, 0, 0, 0) 60%
  );
  padding: 24px;
  margin: -24px;
}

.large-icon {
  width: 28px;
  height: 28px;
  padding: 2px;
}

.icon-button {
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 200ms;
}

.icon-button:active {
  background-color: rgba(0, 0, 0, .1);
}

.drawer-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: calc(var(--drawer-header-height) - 1px);
  border-bottom: 1px solid rgba(0, 0, 0, .2);;
}

#background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
  object-fit: cover;
}

#main-toolbar {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.bookmarks-drawer-locked-open #bookmarks-open-button-wrapper {
  display: none;
}

#info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  transition: right var(--drawer-transition-duration);
}

.bookmarks-drawer-locked-open #info-wrapper {
  right: var(--drawer-width);
}

#info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 8px;
  min-width: 210px;
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.boxed-info #info-box {
  border: 8px solid #fff;
}

#info-box > * {
  margin: 8px;
}

#time {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

#weather-wrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

#weather-icon {
  width: 40px;
  height: 40px;
}

#temperature {
  font-size: 2rem;
  padding-left: 16px;
}

#bookmarks-drawer {
  position: absolute;
  z-index: 20;
  top: 0;
  right: calc(-10px - var(--drawer-width));
  bottom: 0;
  width: var(--drawer-width);
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  transition: all var(--drawer-transition-duration);
}

.bookmarks-drawer-open #bookmarks-drawer,
.bookmarks-drawer-locked-open #bookmarks-drawer {
  right: 0;
}

.bookmarks-drawer-locked-open #bookmarks-drawer {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.9);
}

.bookmarks-drawer-small #bookmarks-drawer-title {
  display: none;
}

.bookmarks-drawer-locked-open #bookmarks-close-button {
  display: none;
}

#bookmarks-drawer-items {
  position: absolute;
  top: var(--drawer-header-height);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

#drawer-backdrop {
  display: none;
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
}

.bookmarks-drawer-open #drawer-backdrop {
  display: block;
  opacity: .5;
}
