body {
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  width: 200px;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: 1rem;
  cursor: default;
}

#settings {
  margin: 8px;
}

#always-show-bookmarks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#always-show-bookmarks span {
  margin-left: 8px;
}

#about {
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  padding: 8px;
}

#about:hover {
  text-decoration: underline;
}
