body {
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  width: 220px;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: 1rem;
  cursor: default;
}

input[type=checkbox] {
  width: 12px;
  height: 12px;
  margin: 4px;
}

label.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

label.checkbox-container span {
  margin: 3px 0 3px 8px;
  line-height: 14px;
}

label.disabled {
  opacity: .5;
}

.child-1 {
  margin-left: 24px;
}

#settings {
  margin: 8px;
}

#about {
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  padding: 8px;
}

#about:hover {
  text-decoration: underline;
}
