.x-bookmark {
  display: block;
  position: relative;
  z-index: 1;
}

.x-bookmark.translate-down,
.x-bookmark.translate-up,
.x-bookmark.expand {
  z-index: 2;
}

.x-bookmark.dragging {
  z-index: 0;
}

.x-bookmark__link,
.x-bookmark__link:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  background: #fff;
  transition: transform var(--drag-drop-transition-timing);
}

.no-animate-translate .x-bookmark__link {
  transition: none;
}

.drag-over .x-bookmark__link {
  pointer-events: none;
}

.x-bookmark.translate-up .x-bookmark__link {
  transform: translateY(-100%);
}

.x-bookmark.translate-down .x-bookmark__link {
  transform: translateY(100%);
}

.x-bookmark.expand .x-bookmark__link {
  transform: scale(1.2) translate(6%, 0);
}

.x-bookmark[small].expand .x-bookmark__link {
  transform: scale(1.2);
}

.x-bookmark.dragging .x-bookmark__link {
  opacity: 0;
}

.x-bookmark__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--mouse-effect-transition-timing);
}

.x-bookmark__link:active::after {
  opacity: 1;
}

.x-bookmark__image {
  width: 16px;
  height: 16px;
  margin: 8px 16px;
}

.x-bookmark__name {
  flex-grow: 1;
  flex-basis: 1px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: var(--x-bookmark-font-weight);
}

.x-bookmark[small] .x-bookmark__name {
  display: none;
}
